spring:
  application:
    name: catalog-service

server:
  port: 8080

  datasource:
    url: jdbc:mysql://localhost:3306/bookcatalogdb
    username: root
    password: Luckymydog8080$
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


cloud:
    aws:
      sqs:
        enabled: true
      sns:
        enabled: true

aws:
  region: sa-east-1
  sns:
    pedido-criado-topic-arn: ""
  sqs:
    pagamento-processado-queue: ""


